@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

h3 {
    padding: 10px;
}

main > p {
    margin: 10px;
}

nav > ul {
    background-color: red;
}

.menu {
    display: inline-block;
    padding: 15px;
}

a:hover {
    color: black;
    cursor: pointer;
    box-sizing: content-box;
}

.categorias > ul > li:hover {
    color: red;
    cursor: pointer;
    box-sizing: content-box;
    width: 200px;
    transition: 0.2s;
    background-color: whitesmoke;
    transform: scale(1.03);
}

a {
    text-decoration: none;
    color: white;
}

.preço {
    color: red;
    font-size: 1.2em;
    font-weight: 500;
}

.container {
    position: relative;
    min-height: 100vh;
}


footer > img {
    width: 200px;
}

footer{
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.lojas {
    width: 50%;
    padding: 20px;
}

input {
    width: 300px;
    margin: 20px;
}

#enviar {
    width: 100px;
}

.box_produtos {
    border: 1px solid black;
    display: inline-block;
    margin: auto;
    margin: 5px;
    padding: 10px;
    width: 200px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.479);
}

.box_produtos:hover {
    transition: 0.5s;
    background-color: whitesmoke;
    transform: scale(1.03);
    cursor: pointer;
}

.produtos {
    margin: auto;
    width: 65%;
    margin-right: 80px;
}

li {
    padding: 5px 0px 5px 30px;
}

#geral:hover {
    cursor: pointer;
    color: red;
    background-color: whitesmoke;
    width: 200px;
    transform: scale(1.03);
    transition: 0.5s;
}


