@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



/* paleta de cores
    #1C1C26 "preto"
    #223D73 azul escuro
    #27498C azul
    #447EF2 azul claro
    #44F2E1 verde agua
*/


* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #223D73;
}

h3 {
    padding: 10px;
}

main > p {
    margin: 10px;
}

nav > ul {
    background-color: #223D73;
    height: 55px;
}

.menu {
    display: inline-block;
    padding: 15px;
}

a:hover {
    color: #44F2E1;
    cursor: pointer;
    box-sizing: content-box;
}

.categorias > ul > li:hover {
    color: #44F2E1;
    cursor: pointer;
    box-sizing: content-box;
    width: 200px;
    transition: 0.2s;
    background-color: #223D73;
    transform: scale(1.03);
}

a {
    text-decoration: none;
    color: white;
}

.preço {
    color: red;
    font-size: 1.2em;
    font-weight: 500;
}

.container {
    position: relative;
    min-height: 100vh;
}


footer > img {
    width: 200px;
}

footer{
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    mix-blend-mode: multiply;
}

.lojas {
    width: 50%;
    padding: 20px;
}

input {
    width: 300px;
    margin: 20px;
}

#enviar {
    width: 100px;
}

.box_produtos {
    border: 1px solid #1C1C26;
    display: inline-block;
    margin: auto;
    margin: 5px;
    padding: 10px;
    width: 200px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.479);
    mix-blend-mode: multiply;
}

.box_produtos:hover {
    transition: 0.5s;
    background-color: whitesmoke;
    transform: scale(1.03);
    cursor: pointer;
    
}

.imagem {
    width: 120px;
    height: 120px;
    mix-blend-mode: multiply;
}

.produtos {
    margin: auto;
    width: 65%;
    margin-right: 80px;
}

li {
    padding: 5px 0px 5px 30px;
}

#geral:hover {
    cursor: pointer;
    color: #27498C;
    background-color: whitesmoke;
    width: 200px;
    transform: scale(1.03);
    transition: 0.5s;
}

#ham > img {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 90%;
}

#ham > img:hover {
    color: aliceblue;
}

.responsivo {
    background-color: #223d73de;
    position: absolute;
    right: 0;
    width: 250px;
    height: 280px;
    display: none;
    
}

.responsivo  > ul > li {
    list-style-type: none;
    margin-bottom: 20px;
}

.responsivo  > ul {
    margin-top: 20px;
}


@media (min-width: 500px) {
    .responsivo {
        display: none;
    }
    #ham {
        display: none;
    }
}

@media (max-width: 501px) {
    .menu > a {
        display: none;
    }
}